*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-page: "Open Sans", system-ui;
  --size-h1: 100px;
  --size-h2: 47.78px;
  --size-body: 16px;
}
body {
  font-family: var(--font-page);
}
.header {
  width: 100%;
  height: 100dvh;
  /* background-image: url("./img/eren-founding-titan-img.jpg"); */
  background-image: url("./img/eren-founding-titan-IA_img.jpg");

  /*  background-image: url("./img/eren-child-IA_img.jpg"); */
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.cover_page-title {
  font-size: var(--size-h1);
  color: #e9f;
}
